header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1vh 4vw;
    position: sticky;
    left: 0;
    top: 0;
    z-index: 100
}

header a {
    color: #eee;
    text-decoration: none;
    font-size: 2rem
}
