$color_one: #833183;
$color_two: #F5E2F5;
$fontLight: #eee;
$borderF: #F0F0F0;
$font: Franklin Gothic Medium;
$indentw: 4vw;
$indenth: 1vh;

//services
.body_services {
  background: $color_two;
}

.body_price {
  background: $color_two;
}

//home
.body_home {
  background-image: url("../icons/bg_header.jpg");
  background-repeat: no-repeat;
}


@mixin reset() {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin reset2($one,$two,$none) {
  margin: $one;
  padding: $two;
  list-style: $none;
}

@mixin flex($dir, $side) {
  display: flex;
  flex-direction: $dir;
  justify-content: $side;
}

@mixin border($col, $perc) {
  border: 2px solid $col;
  border-radius: $perc 0;
  border-bottom-width: 1px;
  border-left-width: 1px;
}


header {
  @include flex(row, space-between);
  background: $color_one;
  padding: $indenth $indentw;
  position: sticky;
  left: 0;
  top: 0;
  z-index: 100;

  a {
    color: $fontLight;
    text-decoration: none;
    font-size: 2rem;
  }

  nav {
    ul {
      @include reset();

      li {
        display: inline-block;
        margin-left: $indenth;

        //зададим стили ссылкам навигации

        a {
          display: block;
          font-size: 100%;
          padding: $indenth;
          text-transform: capitalize;

          @include border(transparent, 20%);

          //зададим стили для ссылок при наведении
          //и активной ссылке

          &:hover, &.active {
            @include border($fontLight, 20%);
          }
        }
      }
    }
  }
}

//services
section {
  font-size: x-large;
  color: $color_one;
  font-weight: 800;

  .services_text {
    text-align: center;

    .img {
      p {
        font-weight: bold;
      }
    }

  }

  .services {
    @include flex(row, space-between);
    padding: $indenth $indentw;

    img {
      width: 60%;
      height: auto;
    }

    ol {
      @include reset2(0, 0, 0);
      list-style-position: inside;

      li {
      }
    }
  }
}

//services
footer {

  background: $color_one;
  padding: $indenth $indentw;
  text-align: center;
  color: white;

  h2 {
    margin: 30px 0;
  }

  .footer_flex {
    //@include reset();
    //width: 20%;
    @include flex(column, none);

    .footer_element_flex {
      @include flex(row, space-evenly);

      .footer_border {
        @include border($fontLight, 20%);

        .footer_element {
          margin: 10px;
          font-family: "sans-serif";
          width: 15vw;

          img {
            width: 15vh;
          }

          p {
            font-size: xxx-large;
            font-weight: bold;
            margin: 0;
          }
        }
      }
    }

  }

}

//home
.home {
  color: $fontLight;
  text-align: center;
  font-family: $font;
  margin-top: 30vh;

  h1, h2, button {
    margin-top: 5vh;
    font-weight: 900;

  }

  h2 {
    font-size: xx-large;
  }

  h1 {
    font-size: xxx-large;
  }

  button {
    @include border($fontLight, 20%);
    background: $color_one;
    color: $fontLight;
    margin-top: 5px;
    width: 7vw;
    height: 7vh;

    &:hover {
      @include border($fontLight, 50%)
    }
  }
}


//price
.price {
  color: $color_one;
  text-align: center;
  font-family: "Segoe UI Emoji";
  font-weight: bold;
     .name_price{
       font-size: xxx-large;
       }
  .price_card {
    @include flex(row, space-evenly);

    .card_border {
      @include border($color_one, 20%);
      width: 10vw;
      //margin-left: 3vw;

        .card {
          text-align: center;
          .name {
            font-size: x-large;
          }

          hr {
            width: 80%;
            border: 1px solid $color_one;

          }

          button {
            @include border($fontLight, 20%);
            background: $color_one;
            color: $fontLight;
            margin-top: 1vh;
            margin-bottom: 3vh;
            width: 7vw;
            height: 7vh;
            font-weight: 800;

            &:hover {
              @include border($fontLight, 50%)
            }
          }
        }
      }
    }
  }

