$color_one: #833183;
$color_two: #F5E2F5;
$fontLight: #eee;
$borderF: #F0F0F0;
$font: Franklin Gothic Medium;
$indentw: 4vw;
$indenth: 1vh;

body {
  background: $color_two;
}

@mixin reset() {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin reset2($one,$two,$none) {
  margin: $one;
  padding: $two;
  list-style: $none;
}

@mixin flex($dir, $side) {
  display: flex;
  flex-direction: $dir;
  justify-content: $side;
}

@mixin border($col, $perc) {
  border: 2px solid $col;
  border-radius: $perc 0;
  border-bottom-width: 1px;
  border-left-width: 1px;
}


header {
  @include flex(row, space-between);
  background: $color_one;
  padding: $indenth $indentw;
  position: sticky;
  left: 0;
  top: 0;
  z-index: 100;

  a {
    color: $fontLight;
    text-decoration: none;
    font-size: 2rem;
  }

  nav {
    ul {
      @include reset();

      li {
        display: inline-block;
        margin-left: $indenth;

        //зададим стили ссылкам навигации

        a {
          display: block;
          font-size: 100%;
          padding: $indenth;
          text-transform: capitalize;

          @include border(transparent, 20%);

          //зададим стили для ссылок при наведении
          //и активной ссылке

          &:hover, &.active {
            @include border($fontLight, 20%);
          }
        }
      }
    }
  }
}

section {
  font-size: xx-large;
  color: $color_one;
  font-weight: 800;

  .home_text {
    text-align:center;
    .img{
      p{
        font-weight: bold;
      }
    }

  }

  .home {
    @include flex(row, space-between);
    padding: $indenth $indentw;

    img {
      width: 70%;
      height: auto;
    }
    ol{
      @include reset2(0,0,0);
        list-style-position: inside;
      li{
      }
    }
  }
}


footer {
  height: 10%;
  background: $color_one;
  padding: $indenth $indentw;
  text-align: center;
  color: white;

  ul {
    @include reset();
    //width: 20%;
    @include flex(row, none);


    li {
      @include border($fontLight, 20%);
      margin-left: $indentw;

      .footer_element {
        padding: 20px 0;
        margin: 5px;
        width: 10%;

        img {
          width: 50%;
        }

        p {
          @include reset();
          margin: 20px 0 0 0;
          font-family: 'Segoe UI';
          font-size: 6rem;
          font-weight: 800;
        }

        strong {
          font-style: italic;
          font-size: 3rem;
        }
      }
    }
  }
}





